<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
      <script src="/javascripts/jquery.min.js"></script>
      <script>
          $('#second-menu').hide();
          $('#Show').click(function () {
              $('#second-menu').show();
          })

      </script>
  </head>
  <body>
    <header>
        <div class="logo">
            <a href="">
                <img src="../images/logo.png" alt="中原孵化城" style="width:270px;">
            </a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="">首页</a></li>
                <li>
                    <a id="Show">关于我们</a>
                </li>
                <li><a href="">入驻团队与项目</a></li>
                <li><a href=""> 新闻资讯</a></li>
                <li><a href="">申请入驻</a></li>
            </ul>
        </div>
        <ul id="second-menu">
            <li>孵化器简介</li>
            <li>管理团队</li>
            <li>组织架构</li>
            <li>孵化范围</li>
            <li>发起单位</li>
            <li>战略合作伙伴</li>
            <li>创业导师</li>
            <li>服务支持</li>
        </ul>
    </header>
    {{{body}}}
    <footer>
        <div class="bottom">
            <div class="bottom-logo">
                <img src="../images/logo.png" alt="">
            </div>
            <div class="bottom-menu">
                <ul>
                    <li><a href="">首页</a></li>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">入驻团队与项目</a></li>
                    <li><a href="">新闻资讯</a></li>
                    <li><a href="">申请入驻</a></li>
                </ul>
            </div>
            <div style="clear:both"></div>
            <div>
                公司地址：河南省郑州市商都路心怡路易元国际大厦B座24楼
            </div>
            <div>友情链接：
                <a href="http://www.hnysjt.com">河南影视集团</a>
                <a href="http://www.daxiangyingshi.com">大象影视</a>
                <a href="http://www.hnr.cn/news/xwzt/dxrm">大象融媒</a>
            </div>
            <div>电话：0371-55525170</div>
        </div>

        <div class="erweima">
            <img src="../images/erweima.png" alt="">
        </div>
        <div class="Gotop">
            <a href="#" title="返回顶部"></a>
        </div>
    </footer>
  </body>
</html>
